<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.footmorning.mappers.clubMapper">
	
	<insert id="insert" parameterType="ClubDTO">
		insert into
		club(club_name, club_image, club_content, club_loc, club_type, club_master)
		values(#{club_name}, #{club_image}, #{club_content}, #{club_loc}, #{club_type}, #{club_master})
	</insert>
	
	<update id="update" parameterType="ClubDTO">
		update club set
		club_name=#{club_name},
		club_image=#{club_image},
		club_content=#{club_content},
		club_loc=#{club_loc},
		club_type=#{club_type},
		club_master=#{club_master}
		where club_no=#{club_no}		
	</update>
	
	<delete id="delete">
		delete from club where club_no=#{no}
	</delete>
	
	<select id="getClubInfo" resultType="ClubDTO">
		select * from club where club_name=#{club_name}
	</select>
	
	<select id="getWithNo" resultType="ClubDTO">
		select * from club where club_no=#{no}
	</select>
	
	<select id="listAll" resultType="ClubDTO">
		select * from club order by club_no desc, club_regdate desc
	</select>
	
</mapper>