<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.footmorning.mappers.clubMemberMapper">
	
	<insert id="insert" parameterType="com.footmorning.app.domain.ClubMemberDTO">
		insert into
		club_member(club_no, mem_no, mem_gender, mem_email, mem_phone, mem_name, mem_birth, mem_grade, club_mem_flag)
		values(#{club_no}, #{mem_no}, #{mem_gender}, #{mem_email}, #{mem_phone}, #{mem_name}, #{mem_birth}, #{mem_grade}, #{club_mem_flag})
	</insert>
	
	<update id="update" parameterType="ClubMemberDTO">
		update club_member set
		club_no=#{club_no},
		mem_no=#{mem_no},
		mem_gender=#{mem_gender},
		mem_email=#{mem_email},
		mem_phone=#{mem_phone},
		mem_name=#{mem_name},
		mem_birth=#{mem_birth},
		mem_grade=#{mem_grade},
		club_mem_regdate=#{club_mem_regdate},
		club_mem_flag=#{club_mem_flag}
		where club_no=#{club_no} and mem_no=#{mem_no}
	</update>
	
	<select id="getWithMemno" resultType="ClubMemberDTO">
		select * from club_member where mem_no=#{mem_no}
	</select>
	
	<delete id="delete" parameterType="ClubMemberDTO">
		delete from club_member where club_no=#{club_no} and mem_no=#{mem_no}
	</delete>
	
	<select id="listAll" resultType="ClubMemberDTO">
		select * from club_member where club_no=#{club_no} order by club_mem_regdate desc
	</select>
	
	<!-- 반복되어 재사용되는 sql문은 이렇게 id를 부여하고 <sql></sql> 태그로 감싸면 include가 가능해진다. -->
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'm'.toString()">
				and mem_name like CONCAT('%', #{keyword}, '%')
			</if>

			<if test="searchType == 'e'.toString()">
				and mem_email like CONCAT('%', #{keyword}, '%')
			</if>
		</if>
	</sql>	
	
	<select id="listMember" resultType="ClubMemberDTO">
		<![CDATA[
			select * from club_member where club_no=#{club_no} and club_mem_flag='TRUE'
		]]>	
		
			<include refid="search"></include>
			
		<![CDATA[
			order by club_mem_regdate desc limit #{pageStart}, #{perPageNum}
		]]>
	</select>
	
	<select id="listMemberCount" resultType="int">
		<![CDATA[  
		  select count(club_mem_no) 
		  from club_member 
		  where club_mem_no > 0 and club_no = #{club_no} and club_mem_flag='TRUE'
		]]>
		<include refid="search"></include>
	</select>
	
	<select id="listRequest" resultType="ClubMemberDTO">
		<![CDATA[
		select *
		  from club_member where club_no=#{club_no} and club_mem_flag='FALSE'
		]]>
<!-- 			<include refid="search"></include> -->
		<![CDATA[
		  order by club_mem_regdate desc limit #{pageStart}, #{perPageNum}
		]]>
	</select>
	
	<select id="listRequestCount" resultType="int">
		<![CDATA[  
		  select count(club_mem_no) 
		  from club_member 
		  where club_no=#{club_no} and club_mem_flag='FALSE' order by club_mem_regdate desc
		]]>
	</select>

</mapper>