<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.footmorning.mappers.clubMapper">
	
	<insert id="insert" parameterType="com.footmorning.app.domain.ClubDTO">
		insert into
		club(club_name, club_image, club_content, club_loc, club_type, club_master, club_master_name, club_mem_count)
		values(#{club_name}, #{club_image}, #{club_content}, #{club_loc}, #{club_type}, #{club_master}, #{club_master_name}, #{club_mem_count})
	</insert>
	
	<update id="update" parameterType="ClubDTO">
		update club set
		club_name=#{club_name},
		club_image=#{club_image},
		club_content=#{club_content},
		club_loc=#{club_loc},
		club_type=#{club_type},
		club_master=#{club_master},
		club_master_name=#{club_master_name},
		club_mem_count=#{club_mem_count}
		where club_no=#{club_no}
	</update>
	
	<delete id="delete">
		delete from club where club_no=#{no}
	</delete>
	
	<select id="getClubInfo" resultType="ClubDTO">
		select * from club where club_name=#{club_name}
	</select>
	
	<select id="getWithNo" resultType="ClubDTO">
		select * from club where club_no=#{no}
	</select>
	
	<select id="listAll" resultType="ClubDTO">
		select * from club order by club_no desc, club_regdate desc
	</select>
	
	<select id="popularityListAll" resultType="ClubDTO">
		select * from club order by club_mem_count desc;
	</select>

	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				and club_name like CONCAT('%', #{keyword}, '%')
			</if>
			
			<if test="searchType == 'c'.toString()">
				and club_master like CONCAT('%', #{keyword}, '%')
			</if>
			
			<if test="searchType == 'l'.toString()">
				and club_loc like CONCAT('%', #{keyword}, '%')
			</if>
		</if>
	</sql>
	
	<select id="listSearchClub" resultType="ClubDTO">
		<![CDATA[
			select * from club where club_no > 0 and club_type = 1
		]]>
		
		<include refid="search"></include>
		
		<![CDATA[
		order by club_no desc limit #{pageStart}, #{perPageNum}
		]]>
	</select>
	
	<select id="listSearchClubCount" resultType="int">
		<![CDATA[
			select count(club_no) from club where club_no > 0 
		]]>
		<include refid="search"></include>
	</select>
	
</mapper>