<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.footmorning.mappers.clubConfigMapper">

	<insert id="insert" parameterType="com.footmorning.app.domain.ClubConfigDTO">
		insert into
		club_config(club_no)
		values(#{club_no})
	</insert>
	
	<update id="update" parameterType="ClubConfigDTO">
		update club_config set
		config_reject_from=#{config_reject_from},
		config_reject_to=#{config_reject_to},
		config_gender=#{config_gender},
		config_birth_from=#{config_birth_from},
		config_birth_to=#{config_birth_to}
		where club_no=#{club_no}
	</update>
	
	<delete id="delete">
		delete from club_config where club_no=#{no}
	</delete>
	
	<select id="getWithClubNo" resultType="ClubConfigDTO">
		select * from club_config where club_no=#{no}
	</select>
	
	<select id="listAll" resultType="ClubConfigDTO">
		select * from club_config order by config_no desc, club_no desc
	</select>

</mapper>