<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.footmorning.mappers.comBoastMapper">
	
	<insert id="register" parameterType="ComBoastDTO">
		insert into com_boast(mem_no, com_boast_subject, com_boast_content, com_boast_count)
		values(#{mem_no},#{com_boast_subject},#{com_boast_content},#{com_boast_count})
	</insert>
	
	<select id="read" resultType="ComBoastDTO">
		select * from com_boast where com_boast_no=#{com_boast_no}
	</select>
	
	<update id="update">
		update com_boast set mem_no=#{mem_no}, com_boast_subject=#{com_boast_subject},com_boast_content=#{com_boast_content},
		com_boast_count=#{com_boast_count} where com_boast_no=#{com_boast_no}	
	</update>
	
	<delete id="delete">
		delete * from com_boast 
		where com_boast_no=#{com_boast_no}
	</delete>
	
	<select id="listAll" resultType="ComBoastDTO">
		select * from com_boast where com_boast_no>0 order by com_boast_no desc, com_boast_regdate desc
	</select>
	
</mapper>