<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.footmorning.mappers.comDiscussionWorldMapper">
	
	<insert id="register" parameterType="ComDiscussionWorldDTO">
		insert into com_discussion_world(mem_no, com_discussion_world_subject, 
		com_discussion_world_content, 
		com_discussion_world_count, 
		com_discussion_world_writer)
		values(#{mem_no},#{com_discussion_world_subject},#{com_discussion_world_content},
		#{com_discussion_world_count}, #{com_discussion_world_writer})
	</insert>
	
	<select id="read" resultType="ComDiscussionWorldDTO">
		select * from com_discussion_world where com_discussion_world_no=#{com_discussion_world_no}
	</select>
	
	<update id="update" parameterType="ComDiscussionWorldDTO">
		update com_discussion_world set mem_no=#{mem_no}, 
		com_discussion_world_subject=#{com_discussion_world_subject},
		com_discussion_world_content=#{com_discussion_world_content},
		com_discussion_world_writer=#{com_discussion_world_writer},
		com_discussion_world_count=#{com_discussion_world_count} 
		where com_discussion_world_no=#{com_discussion_world_no}	
	</update>
	
	<delete id="delete">
		delete from com_discussion_world 
		where com_discussion_world_no=#{com_discussion_world_no}
	</delete>
	
	<select id="listAll" resultType="ComDiscussionWorldDTO">
		select * from com_discussion_world where com_discussion_world_no>0 order by com_discussion_world_no desc, com_discussion_world_regdate desc
	</select>
	
</mapper>