<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.footmorning.mappers.comQnAMapper">
	
	<insert id="register" parameterType="ComQnADTO">
		insert into com_qna(mem_no, com_qna_subject, com_qna_content, com_qna_count)
		values(#{mem_no},#{com_qna_subject},#{com_qna_content},#{com_qna_count})
	</insert>
	
	<select id="read">
		select * from com_qna where com_qna_no=#{com_qna_no}
	</select>
	
	<update id="update">
		update com_qna set mem_no=#{mem_no}, com_qna_subject=#{com_qna_subject}, com_qna_content=#{com_qna_content},
		com_qna_count=#{com_qna_count} where com_qna_no=#{com_qna_no}	
	</update>
	
	<delete id="delete">
		delete * from com_qna 
		where com_qna_no=#{com_qna_no}
	</delete>
	
	<select id="listAll" resultType="ComQnADTO">
		select * from com_qna where com_qna_no>0 order by com_qna_no desc, com_qna_regdate desc
	</select>
	
</mapper>