<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.footmorning.mappers.memberMapper">
	<select id="getTime" resultType="String">
		select now()
	</select>
	
	<select id="getMemberInfo" resultType="MemberDTO">
		select * from member where mem_email=#{mem_email}
	</select>
	
	<select id="getWithPW" resultType="MemberDTO">
		select * from member where mem_email=#{mem_email} and mem_pw=#{mem_pw}
	</select>
	
	<insert id="insertMember" parameterType="MemberDTO">
		insert into member(mem_email, mem_pw, mem_name, mem_gender, mem_phone, mem_addr, mem_grade)
		 values(#{mem_email}, #{mem_pw}, #{mem_name}, #{mem_gender}, #{mem_phone}, #{mem_addr}, '4')
	</insert>
	
	<update id="updateMember" parameterType="MemberDTO">
		update member set mem_phone=#{mem_phone}, mem_addr=#{mem_addr}, mem_grade=#{mem_grade}, mem_logdate=#{mem_logdate}, club_no=#{club_no}
		where mem_no=#{mem_no}
	</update>	
	
	<delete id="deleteMember" parameterType="string">
	
	</delete>
</mapper>