<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.footmorning.mappers.memberMapper">
	<select id="getTime" resultType="String">
		select now()
	</select>
	
	<select id="getMemberInfo" resultType="com.footmorning.app.domain.MemberDTO">
		select * from member where mem_email=#{mem_email}
	</select>
	
	<select id="getWithClubno" resultType="Int">
		select count(*) from member where club_no=#{club no}
	</select>
	
	<select id="getWithNo" resultType="MemberDTO">
		select * from member where mem_no=#{mem_no}
	</select>
	
	<select id="getPW" resultType="String">
		select mem_pw from member where mem_email=#{mem_email} and mem_phone=#{mem_phone}
	</select>
	
	<select id="getWithPW" resultType="MemberDTO">
		select * from member where mem_email=#{mem_email} and mem_pw=#{mem_pw}
	</select>
	
	<insert id="insertMember" parameterType="MemberDTO">
		insert into member(mem_email, mem_pw, mem_name, mem_gender, mem_phone, mem_addr, mem_grade, mem_birth)
		 values(#{mem_email}, #{mem_pw}, #{mem_name}, #{mem_gender}, #{mem_phone}, #{mem_addr}, '5', #{mem_birth})
	</insert>
	
	<update id="updateMember" parameterType="MemberDTO">
		update member set mem_pw=#{mem_pw}, mem_name=#{mem_name}, mem_gender=#{mem_gender}, 
		mem_phone=#{mem_phone}, mem_addr=#{mem_addr}, mem_grade=#{mem_grade}, mem_image=#{mem_image}, 
		mem_logdate=#{mem_logdate}, mem_birth=#{mem_birth}, mem_backno=#{mem_backno}, club_no=#{club_no}, mem_club_regdate=#{mem_club_regdate}	
		where mem_no=#{mem_no}
	</update>	
	
	<delete id="deleteMember" parameterType="string">
	
	</delete>
</mapper>